<style>
    .navbar{
        background: linear-gradient(to top, #09203f 0%, #537895 100%) !important;
        color: aliceblue;
    }
    .nav-link{
        color: aliceblue !important;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <h3>FACE RECOGNITION ATTENDANCE SYSTEM</h3>
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" 
        >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login/student">Student</a></li>
              <li><a class="dropdown-item" href="/login/professor">Professor</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>