<% layout("/layouts/boilerplate") %>

<style>
    h2,h4{
    color: rgb(30, 145, 153);
}
</style>

<body>
    <div class="cont">
        <div class="photo">
            <img src="/about.jpg" alt="about us">
        </div>
        <div class="about">
            <h2>FACE RECOGNITION BASED ATTENDANCE</h2>
            <p>A system for holding and recognising human faces fast and precisely for attendence</p>
            
            <h4>Face Scanning</h4>
            <p>Scan the faces of student and mark attendence</p>
            <h4>User Friendly</h4>
            <p>Easily Accessible and Understanable</p>
        </div>
    </div>
    
    
</body>


